@import "../components/landing-page/navbar.scss";
@import "../components/landing-page/footer.scss";
@import "../components/landing-page/home.scss";

@import "../components/login/login.scss";
@import "../components/register/registerparent.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  line-height: 1;
  background-color: #f2f2f2;
}

html {
  scroll-behavior: smooth;
  cursor: default;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
