.header-profil {
  height: 60px;
  box-shadow: 0px 12px 20px 0px rgba(91, 91, 91, 0.75);
  display: flex;
  background-color: whitesmoke;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;

  .iconsearch {
    margin-left: 20px;
  }
  .title-profil {
    margin-right: 20px;
    font-size: 24px;
  }
}

.nameiconuser {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  margin-top: 85px;
  background: linear-gradient(
    293deg,
    rgb(71, 79, 255) 2.49%,
    rgb(227, 122, 204) 99.05%
  );
  .iconprofil {
    height: 40px;
    width: 40px;
    margin-left: 15px;
  }
  .name-user {
    margin-left: 15px;
    font-size: 22px;
    font-style: oblique;
    font-weight: 600;
    color: white;
  }
}

.reservationContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .reservation {
    background-color: white;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
  }
}
.iconnursery {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.namereservation {
  font-size: 20px;

}
.status {
  background-color: rgb(79, 157, 79);
  padding: 8px;
  border-radius: 30px;
}
