
.nurseryCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 15px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 2px #00000021;

  .nurseryimg {
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 1px 6px 2px #00000021;
  }

  .nurseryname {
    font-size: 22px;
    margin: 20px 0 10px 0;
  }

  .nurseryadress {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
  }
}

@media screen and (min-width: 850px) {
  .nurseryCard {
    .nurseryname {
      font-size: 35px;
    }
    .nurseryadress {
      margin: 10px 0;
      font-size: 25px;
    }
  }
}
